.boxShadow-secondary {
    box-shadow: 0 0 10px var(--tc-secondary);
    transition: box-shadow .3s, transform .3s;
}

.boxShadowSecondary-hover:hover {
    box-shadow: none;
    transform: scale(1.1);
}

input {
    outline: none;
}

.txtSearch {
    border-bottom: 1px solid var(--tc-secondary) !important;
    height: 50px;
}

.offcanvas {
    box-shadow: 0 0 50px var(--tc-secondary);
}

h1,h2,h3,h4,h5,h6{
    color: whitesmoke;
}