@page
@model Regular.Pages.Customer.Manage.Tasks.TasksListModel
@{
}


<div class="p-5" style="height: 100vh;">
    <div class="row px-2">
        <h2 class="text-primary fw-bolder fs-3 col-sm-4 col-12">لیست وظایف‌</h2>
        <a href="/Customer/Manage/Manage" class="btn btn-secondary m-1 rounded-2 col-sm-3 col-12">برگشت</a>
        <a href="/Customer/Manage/Tasks/TaskUpsert" class="btn btn-primary m-1 rounded-2 col-sm-4 col-12">افزودن وظیفه جدید</a>
    </div>
    <hr />

    <table class="table table-hover w-100" id="DT_load">
        <thead>
            <tr>
                <th class="text-end" scope="col">کد وظیفه</th>
                <th class="text-end" scope="col">عنوان</th>
                <th class="text-end" scope="col">وضعیت وظیفه</th>
                <th scope="col"></th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <!-- SweetAlert -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        var dataTable;

        function Delete(url) {
            Swal.fire({
                title: 'از حذف مطمعن هستید؟',
                text: "شما نمی توانید این را برگردانید",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'بله، حذف کن',
                cancelButtonText: 'انصراف'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: url,
                        type: 'DELETE',
                        success: function (data) {
                            if (data.success) {
                                dataTable.ajax.reload();
                                //success notification
                                toastr.success(data.message);
                            }
                            else {
                                //failsure notification
                                toastr.error(data.message);
                            }
                        }
                    });
                }
            });
        }

        $(document).ready(function () {

            dataTable = $('#DT_load').DataTable({
                "ajax": {
                    "url": "/api/Tasks",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "id" },
                    { "data": "title" },
                    { "data": "taskStatus" },
                    {
                        "data": "id",
                        "render": function (data) {
                            return `<div class="w-75 btn-group" >
                                    <a href="/Customer/Manage/Tasks/TaskUpsert?id=${data}"  class="btn btn-warning text-white rounded-0 rounded-end-3 mx-2">
                                    <i class="bi bi-pencil-square"></i>  </a>
                                            <a onClick=Delete('/api/Tasks/${data}')  class="btn btn-danger text-white rounded-0 rounded-start-3 mx-2">
                                    <i class="bi bi-trash-fill"></i>  </a>
                                    </div>`
                        },
                    }
                ],
                "width": "100%"
            });
        });


    </script>
}