@page
@model Regular.Pages.Customer.Manage.Friends.FriendDeleteModel
@{
}

<div class="p-5">
    <div class="row px-2">
        <h2 class="text-primary fw-bolder fs-3 col-sm-8 col-12">حذف همکار</h2>
    </div>
    <hr />

    <form method="post">
        <fieldset>
            @*Id*@
            <input asp-for="@Model.Friend.Id" hidden />

            <div class="form-group">
                <label asp-for="@Model.Friend.UserId2" class="form-label mt-4"></label>
                <input disabled class="form-control" asp-for="@Model.Friend.UserId2">
                <span asp-validation-for="@Model.Friend.UserId2" class="form-text text-danger"></span>
            </div>

            <div class="row btn-group my-5 pb-5 w-100">
                <button type="submit" class="btn btn-danger col-8 mx-1">حذف</button>
                <a class="btn btn-outline-secondary col-3 mx-1" asp-page="/Customer/Manage/Friends/FriendsList">برگشت به لیست</a>
            </div>

        </fieldset>
    </form>
</div>