@page
@model Regular.Pages.Customer.About_UsModel
@{
    Layout = "/Pages/Shared/_Layout.cshtml";
    ViewData["Title"] = "رگولار - درباره ما";
}

<!-- Center Main -->
<div class="container">
    <main class="main d-flex flex-column align-items-center px-5">
        <!-- -- FEATURE Model 1 -- -->
        <div class="hc-feature bc-darkBlue my-5" style="box-shadow: 0 0 50px var(--c-secondary) inset;"
             data-aos="fade-left">
            <div class="row d-flex justify-content-center align-items-center w-100 h-100">
                <div class="col-lg-6 col-12 d-flex flex-column justify-content-center align-items-center mb-4">
                    <div class="w-75" data-aos="fade-left">
                        <p class="hc-fs-title3 fw-bold">مدیریت موثر وظایف و تیم</p>
                        <p class="hc-fs-paragraph2 my-3">
                            سایت <b class="tc-lightBlue hc-fs-paragraph1">Regular</b> یک
                            پلتفرم مدیریت وظایف و تیم هاست که به صورت حرفه ای ارتباط بین پروژه
                            ها، تیم ها و وظایف را برقرار می کند. با استفاده از این سایت، تیم
                            ها قادرند به طور موثر و بهینه وظایف خود را مدیریت کنند و به راحتی
                            با همکاران خود در پروژه های مختلف ارتباط برقرار کنند.
                        </p>
                        <button class="hc-outlineBtn-lg btn border border-1 border-black px-5 hc-fs-paragraph3">
                            بیشتر
                            بدانید
                        </button>
                    </div>
                </div>
                <div class="col-lg-6 col-12 h-100 d-flex justify-content-center align-items-center">
                    <div class="w-75 h-75" data-aos="fade-left">
                        <img loading="lazy" class="rounded-4" src="/src/media/banners/02_banner.png" width="100%" height="100%"
                             alt="">
                    </div>
                </div>
            </div>
        </div>

        <!-- HERO Model 1 -->
        <div class="hc-hero" style="height: 600px;" data-aos="fade-down">
            <!-- HERO-BANNER -->
            <img loading="lazy" class="hc-heroImage" width="100%" height="100%"
                 style="box-shadow: 0 0 30px var(--c-secondary);"
                 src="https://static.vecteezy.com/system/resources/previews/002/965/575/original/modern-shiny-gradient-blue-banner-background-free-vector.jpg"
                 alt="hero banner">

            <!-- HERO-BODY -->
            <div class="hc-hero-body d-flex flex-column z-1 position-absolute top-0 start-0 w-100 h-100"
                 data-aos="fade-down">
                <div class="w-100 py-3 h-100 d-flex justify-content-center align-items-center">
                    <div class="w-50 d-flex flex-column align-items-center justify-content-center">
                        <h1 class="text-wrap text-center text-white hc-fs-title1">
                            درباره <b class="tc-secondary">رگولار</b>
                        </h1>
                        <p class="text-wrap text-center text-white mt-3 hc-fs-paragraph2">
                            <b class="tc-lightBlue">Regular</b> یک پلت
                            فرم
                            حرفه ای برای مدیریت وظایف و تیم ها، اتصال یکپارچه پروژه ها، تیم ها و وظایف است. با
                            Regular، تیم ها می توانند وظایف خود را به طور موثر مدیریت کنند و به راحتی با همکاران
                            در پروژه های مختلف ارتباط برقرار کنند و بهره وری و همکاری را افزایش دهند.
                        </p>
                        <p class="text-wrap text-center text-white mt-3 hc-fs-paragraph2">
                            با افتخار توسط HyperCloud، یکی از بزرگترین ارائه دهندگان خدمات آنلاین در ایران و
                            خاورمیانه به شما ارائه شده است. HyperCloud متعهد به ارائه راه حل های دیجیتال با
                            کیفیت بالا برای توانمندسازی مشاغل و تقویت نوآوری است.
                        </p>
                        <button class="hc-btn btn border border-1 border-black px-5 text-nowrap bg-black text-white hc-fs-btn">
                            درباره <b>هایپرکلود</b>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- SOCIAL PROOF model 2 -->
        <div class="hc-socialProof d-flex flex-column justify-content-center align-items-center my-5 bc-darkBlue"
             style="height: 500px; box-shadow: 0 0 50px var(--c-secondary) inset;" data-aos="fade-down">
            <p class="text-white hc-fs-title2 tc-primary fw-bold text-center w-75">نگاهی دقیق تر</p>
            <p class="text-white hc-fs-paragraph2 text-center w-75">
                <b class="tc-darkBlue hc-fs-paragraph1">رگولار</b> که مورد اعتماد کسب‌وکارهای متعدد است، تیم شما
                را قادر
                می‌سازد
                تا با
                تلاش کمتر به چیزهای
                بیشتری دست یابد. ابزارها و ادغام های پیشرفته ما را کاوش کنید که ردیابی پروژه، مدیریت ضرب الاجل
                را ساده می کند
            </p>
            <div class="d-flex justify-content-around align-items-center w-75 row" data-aos="fade-up">
                <div class="col-sm-2 h-100 col-5 rounded-3" style="box-shadow: 0 0 10px white inset;">
                    <div class="text-center my-3">
                        <i class="bi bi-check2-square tc-primary me-1 hc-fs-title1"></i>
                        <span class="hc-fs-title3">245</span>
                        <p class="hc-fs-paragraph3">پروژه های تکمیل شده</p>
                    </div>
                </div>
                <div class="col-sm-2 h-100 col-5 rounded-3" style="box-shadow: 0 0 10px white inset;">
                    <div class="text-center my-3">
                        <i class="bi bi-person-heart tc-primary me-1 hc-fs-title1"></i>
                        <span class="hc-fs-title3">124</span>
                        <p class="hc-fs-paragraph3">تیم های همکاری</p>
                    </div>
                </div>
                <div class="col-sm-2 h-100 col-5 rounded-3" style="box-shadow: 0 0 10px white inset;">
                    <div class="text-center my-3">
                        <i class="bi bi-card-checklist tc-primary me-1 hc-fs-title1"></i>
                        <span class="hc-fs-title3">234</span>
                        <p class="hc-fs-paragraph3">وظایف مدیریت شده</p>
                    </div>
                </div>
                <div class="col-sm-2 h-100 col-5 rounded-3" style="box-shadow: 0 0 10px white inset;">
                    <div class="text-center my-3">
                        <i class="bi bi-person-bounding-box tc-primary me-1 hc-fs-title1"></i>
                        <span class="hc-fs-title3">756</span>
                        <p class="hc-fs-paragraph3">کاربران فعال</p>
                    </div>
                </div>
            </div>
        </div>

    </main>
</div>
<!-- End Center Main -->