@page
@model Regular.Pages.Customer.Contact_UsModel
@{
    Layout = "/Pages/Shared/_Layout.cshtml";
    ViewData["Title"] = "رگولار - تماس با ما";
}

<!-- Center Main -->
<div class="container">
    <main class="main d-flex flex-column align-items-center px-5">
        <!-- -- FEATURE Model 1 -- -->
        <div class="hc-feature bc-darkBlue my-5" style="box-shadow: 0 0 50px var(--c-secondary) inset;"
             data-aos="fade-left">
            <div class="row d-flex justify-content-center align-items-center w-100 h-100">
                <div class="col-lg-6 col-12 d-flex flex-column justify-content-center align-items-center mb-4">
                    <div class="w-75" data-aos="fade-left">
                        <p class="hc-fs-title1 fw-bold">همین حالا با ما تماس بگیرید</p>
                        <p class="hc-fs-paragraph2 my-3">
                            اکنون برای دریافت کمک سریع وصل شوید و مزایای تماس فوری با ما را برای راه حل ها و
                            پشتیبانی شخصی کشف کنید.
                        </p>
                        <div class="d-flex align-items-center mt-4">
                            <i class="bi bi-envelope-fill hc-fs-title2 tc-secondary ms-3"></i>
                            <div class="d-flex flex-column justify-content-center align-items-center">
                                <h3>ایمیل دفتر مرکزی</h3>
                                <a href="mailto:HC.Regular@Gmail.Com"
                                   class="tc-secondary text-decoration-underline">HC.Regular@Gmail.Com</a>
                            </div>
                        </div>
                        <div class="d-flex align-items-center mt-4">
                            <i class="bi bi-phone-fill hc-fs-title2 tc-secondary ms-3"></i>
                            <div class="d-flex flex-column justify-content-center align-items-center">
                                <h3>دفتر تماس</h3>
                                <a href="tel:989106985190" class="tc-secondary text-decoration-underline"
                                   dir="ltr">+98-910-698-5190</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12 h-100 d-flex justify-content-center align-items-center"
                     data-aos="fade-left">
                    <div class="w-75 h-75">
                        <img class="rounded-4" src="/src/media/banners/03_banner.png" width="100%" height="100%"
                             alt="contact us">
                    </div>
                </div>
            </div>
        </div>

        <!-- -- FEATURE Model 1 -- -->
        <div class="hc-feature bc-darkBlue my-5" style="box-shadow: 0 0 50px var(--c-secondary) inset;"
             data-aos="fade-right">
            <div class="row d-flex flex-row-reverse justify-content-center align-items-center w-100 h-100">
                <div class="col-lg-6 col-12 d-flex flex-column justify-content-center align-items-center mb-4">
                    <div class="w-75" data-aos="fade-right">
                        <p class="hc-fs-title1 fw-bold">به کمک نیاز داری ؟</p>
                        <p class="hc-fs-paragraph2 my-3">
                            خوشحال میشیم کمکت کنیم ...
                        </p>

                        <form class="text-white">
                            <div class="mb-3">
                                <label for="email">ایمیل</label>
                                <input type="email" class="form-control" id="email"
                                       placeholder="name@example.com">
                                <div id="emailHelp" class="form-text tc-secondary">
                                    ایمیل شما پیش ما محفوظ است
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="message">پیغام</label>
                                <textarea class="form-control" name="message" id="message"
                                          placeholder="اگر مشکلی برایتان به وجود آمده به ما اطلاع دهید ..."></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary hc-fs-paragraph2 px-4">
                                <i class="bi bi-send-fill ms-2"></i>
                                <span>ارسال</span>
                            </button>
                        </form>

                    </div>
                </div>
                <div class="col-lg-6 col-12 h-100 d-flex justify-content-center align-items-center"
                     data-aos="fade-right">
                    <div class="w-75 h-75">
                        <img class="rounded-4" src="/src/media/banners/04_banner.png" width="100%" height="100%"
                             alt="contact us">
                    </div>
                </div>
            </div>
        </div>

    </main>
</div>
<!-- End Center Main -->